// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: red;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here


body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;

    header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include media_breakpoint_up(xl) {
            @include make-container(200px);
        }
        .logo {
            a {
                display: inline-block;
                padding: 1rem;
                text-decoration: none;
                @extend .display-5;
            }
        }
        nav {
            padding: 0 1rem 0 0;
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;
            gap: 0 1rem;
            justify-content: flex-end;
            @include media_breakpoint_up(lg) {
                padding: 0 1rem;
                p#my-list {
                    margin-right: auto;
                }
            }
            p {
                text-align: right; 
                margin: 0;
            }
            form {
                margin-left: auto;
                input {
                    padding: 0.25rem;
                    width: 40vw;
                    max-width: 200px;
                }
            }
        }
    }

    div.message-container {
        @include media_breakpoint_up(xl) {
            @include make-container(200px);
        }
        .alert {
            @extend .border;
            margin: 1rem;
            padding: 0.5rem;

            &.alert-warning {
                @extend .text-warning;
            }

            &.alert-success {
                @extend .text-success;
            }
        }
    }
    main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        
        & > * {
            padding: 1rem;
        }
        @include media_breakpoint_up(md) {
            & > * {
                @include make-container(200px);
            }
        }
        @include media_breakpoint_up(xl) {
            & > * {
                @include make-container(400px);
            }
        }

        
        h1 {
            padding: 2rem;
            @extend .display-1;
            text-align: center;
        }


        form { 
            text-align: center;
            input {
                width: 100%;
                font-size: 1.25rem;
                @extend .border;
                padding: 1rem;
            }
            div.has_error {
                padding: 1rem 0;
                color: $red;
                ul {
                    list-style: none;
                    padding : 0;
                    margin: 0;
                    li {
                        padding: 0;
                    }
                }
            }
        }

        table, tbody, tr, td {
            display: block;
        }
        table {
            flex: 1 1 auto;
            @extend .bg-secondary;
            @extend .bg-opacity-10;
            max-width:100%;
            tbody {
                tr {
                    font-size: 1.5rem;

                    &:nth-child(2n) {
                        @extend .bg-primary;
                        @extend .bg-opacity-10;
                    }
                    td {
                        word-break: break-all;
                    }
                }
            }
        }

        > ul { 
            list-style: none;

            li {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
}
